.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.btn {
    font-size: 14px;
    padding: 10px 60px;
    cursor: pointer;
    opacity: 0.6;
    background: white;
    border: 0;
    outline: 0;
}

.btn:focus {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
    opacity: 1;
}
 