
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 475px;
    height: 281px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
}

.card__description .card__title{
  font-weight: 400;  
  margin-top: 0
}

.card__title {
  width: 226px;
}

.card__photo{
  width: 183px;
  height: 281px;
  object-fit: none;
}
  
.card__date{
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 7px;
  display: block;
}
  
.card__info{
  padding: 12px 0 0 20px;
}
.card__description{
  padding: 12px 0 0 20px;
  height: inherit; 
  overflow: hidden;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text {
  width: 251px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;
}

.astext {
  cursor:auto;
}

h4 {
  margin-bottom: 0;
}

.stars {
  display: flex;
  position: absolute;
  bottom: -7%;
}

.stars > .ant-rate-star {
  margin-inline: 0;
  padding-inline: 0;
}

.card__mark{
  position: absolute;
  right: 9px;
  top:12px;
  height: 30px;
  min-width: 30px;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;

}
  

  
  