.movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
}

.spiner {
    font-size: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}
